* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff8e7;
}

/* Navbar */

nav {
    background-color: #5a189a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav h1 {
    font-size: 32px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    color: yellow;
}

/* Hero Section */

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #5a189a, #c9184a);
    color: white;
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background-color: yellow;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.hero button:hover {
    background-color: orange;
}

/* Menu Section */

.menu {
    padding: 50px;
    text-align: center;
}

.menu h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #5a189a;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0;
}

.card p {
    margin-bottom: 15px;
    color: #555;
}

.card button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    background: #5a189a;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #7b2cbf;
}

/* Footer */

footer {
    background: #5a189a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}